*{
  background-color: grey;
}
.game-area{
  background-color: rgb(221, 215, 215);
  position: relative;
  margin: 50px auto;
  width: 500px;
  height: 500px;
  border: 5px solid rgb(167, 56, 56);
}

.snake-dot{
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: rgb(9, 14, 15);
  border: 1px solid white;
  z-index: 2;
}
.snake-food{
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: Green;
  border: 1px solid white;
  z-index: 1;
}